
.main-menu-wrap{	display:none; }
.main-menu .title{	display:none; }

.header .menu.mobi span {
    position: absolute;
    background:#fff;
    width: 16px;
    display: block;
    bottom: 0;
	top:0;
    right: 0;
	left:0;
	margin:auto;
    height:1px;
    transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
}

.header .menu.mobi span:before{ content:""; display:block; position:absolute; top:-7px; width:16px; left:0px; height:1px; background:#FFFFFF;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease; }
.header .menu.mobi span:after{ content:""; display:block; position:absolute; top:7px; width:8px; right:0px; height:1px; background:#FFFFFF;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease; }
	
.header .menu.mobi.is_open span { background:none;}
.header .menu.mobi.is_open span:before{height:2px; -webkit-transform: rotate(45deg);     transform: rotate(45deg); top:0; bottom:0; left:0; right:0; margin:auto}
.header .menu.mobi.is_open span:after{height:2px; width:16px;  -webkit-transform: rotate(-45deg);     transform: rotate(-45deg); top:0; bottom:0; left:0; right:0; margin:auto}




@media only screen and (min-width: 760px){
.main-menu-wrap{
	display:none; 
	position: fixed;  
	top: 0; 
	left: 0;  
	width: 100%;
	background:#fff;
	padding-top:74px;
	font-family:'Open Sans', 'Arial';
	z-index:900
	}
	
.main-menu{
	padding:20px 0;
	    max-width: 1250px;
    margin: auto;
	}
.main-menu  a, .main-menu  span { 
	color: #000000;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	 text-align:center
}

.main-menu ul.level-2 a:hover{ text-decoration:underline}


.main-menu ul {
	list-style:none;
	padding:0;
	margin:auto; 
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-flex;
	display:flex;
	-webkit-align-items:flex-start;
	-webkit-box-align: start;
			align-items:flex-start;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
			justify-content:center
	
	}
.main-menu ul.level-1 > li{; }
.main-menu ul.level-1 > li span{ font-weight:bold; display:block; padding-bottom:15px}

.main-menu ul.level-2{ 
	-webkit-flex-direction:column;
	-webkit-box-orient:vertical;
			flex-direction:column;
	-webkit-box-align: center;
	-webkit-align-items:center;
			align-items:center;
	}
.main-menu ul.level-2 li{  text-align:center; margin:0 20px}

.main-menu .close-button{ display:block; position:absolute; top:15px; right:0; width:20px; height:20px; z-index:9999; cursor:pointer}
.main-menu .close-button:before{ content:""; display:block; position:absolute;  background:#ed1c24; height:2px; -webkit-transform: rotate(45deg);     transform: rotate(45deg); top:0; bottom:0; left:0; right:0; margin:auto}

.main-menu .close-button:after{ content:""; display:block; position:absolute;  background:#ed1c24; height:2px; -webkit-transform: rotate(-45deg);     transform: rotate(-45deg); top:0; bottom:0; left:0; right:0; margin:auto}
}

@media only screen and (min-width: 1920px){
	.main-menu{
 	    max-width: 1280px;
	}
	
}
