@import url('opensans.css');
@import url('rajdhani.css');

::-webkit-input-placeholder {color:rgba(185,185,185,1.00);}
::-moz-placeholder          {color:rgba(185,185,185,1.00);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(185,185,185,1.00);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(185,185,185,1.00);}

*{ 
	outline-color:none;
	-webkit-focus-ring-color:none;
}

:focus{ 
	outline:none !important
}
/*****************************************/
html{   }
html.overheight{ height:auto;}

body{margin:0; padding:0;  font-family:OpenSans;
-webkit-animation:fade-in 0.3s linear; /* Safari 4+ */
animation:fade-in 0.3s linear; /* IE 10+, Fx 29+ */
/*display: -webkit-box; display: -moz-box; display: -ms-flexbox;display:-webkit-flex; display:flex; */
}
.homepage body{ background:#F6F8F9;}

body * {position:relative; }

h1, h2, h3{ margin:0; font-weight:normal;}
p{ margin:0;}
.container{width:100%; padding-top:50px;} 

.wrapper{ padding:0 10px; max-width: 480px; margin:auto; box-sizing:border-box}

.section{}


/**************************HEADER*********************/

header{ background-color:#000000; top:0; width:100%; z-index:1000; position:fixed;}
header .wrapper{ padding:0 25px;}
.header{  margin: auto;  height: 50px;}
.header .logo{height:50px; width:170px; position:absolute; left:-5px; bottom:0; top:0; margin:auto; background-image:url(../images/Mtransfer_logo_fr.svg); background-repeat:no-repeat;
background-position:left center; background-size:contain;}

.header .menuWrap{height:30px; width:20px;   position:absolute; right:0; top:0; bottom:0; margin:auto; }
.header .menu{height:100%; width:100%; display:block; position:relative;}
.header .menu.desktop{ display:none;}
.header .menu span { position: absolute; background:#ffffff; width: 100%; display: block; bottom: 0; top:0;  right: 0; left:0;	margin:auto; height:1px;
    transition-property: all; 	transition-duration: 0.3s;	transition-timing-function: ease;
	-webkit-transition-property: all; 	-webkit-transition-duration: 0.3s;	-webkit-transition-timing-function: ease;
	}
	
.header .menu span:before,
.header .menu span:after{ content:""; display:block; position:absolute; height:1px; background:#ffffff; width:60%;
	transition-property: all; 	transition-duration: 0.2s;	transition-timing-function: ease;
	-webkit-transition-property: all;	-webkit-transition-duration: 0.2s;	-webkit-transition-timing-function: ease; 
}
.header .menu span:before{ top:-7px;  left:0;}
.header .menu span:after{  bottom:-7px; right:0; 	}

.header .menu.is_open{}
.header .menu.is_open span{-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);transition: 0.3s; background:#E24D53}
.header .menu.is_open span:after{opacity: 0; width:100%; background:#E24D53}
.header .menu.is_open span:before{ width:100%; -webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);top: 0!important; background:#E24D53}
	
.main-menu-wrap{ display:none}	
	
.header .lang{display:none}

/**************************FOOTER*********************/
footer{ padding:20px 0;} 

footer .links{ text-align:center;}
footer .links span{ display:inline-block; height:25px;  margin:0 10px; position:relative}
footer .links span svg{ display:block; height:100%; max-width:100%; margin:auto;}

/***************************HOME*********************/

.homepage .topic{bottom:0; top:0; right:0; left:0; margin:auto; position:absolute; width:100%; height:100%; }


.lang-menu-wrap{ display:none; 	position:fixed;   top:0;    left:0;    width:100%;    background:#fff;    padding-top:74px;       z-index:800;	}
.lang-menu-wrap .lang-menu{padding:30px 0;    max-width:1250px;    margin:auto; text-align:center}
.lang-menu-wrap .lang-menu a{ display:inline-block; padding:0 20px; color:#000000;   text-decoration:none;   text-transform:uppercase;
    font-size:14px;     text-align:center}
.lang-menu-wrap .lang-menu a.active{ font-weight:bold}
.lang-menu-wrap .lang-menu a:hover{ text-decoration:underline}

.lang-menu-wrap .close-button{ display:block; position:absolute; top:15px; right:0; width:20px; height:20px; z-index:9999; cursor:pointer}
.lang-menu-wrap .close-button:before{ content:""; display:block; position:absolute;  background:#ed1c24; height:2px; -webkit-transform:rotate(45deg);     transform:rotate(45deg); top:0; bottom:0; left:0; right:0; margin:auto}
.lang-menu-wrap .close-button:after{ content:""; display:block; position:absolute;  background:#ed1c24; height:2px; -webkit-transform:rotate(-45deg);     transform:rotate(-45deg); top:0; bottom:0; left:0; right:0; margin:auto}	



.xdsoft_datetimepicker{ z-index:10000 !important}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover{ background:#b41d22 !important;}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {  background: #929292;  box-shadow: #0000004f 0 1px 3px 0 inset;}

.content{ padding:15px;}
.content h1{ font-family:OpenSansLight;  font-size:30px; line-height:1.2em;}
.screen1 h1{ color:#fff; padding:10px 0}
.screen1 h1 span{ font-weight:bold}
.screen1{ background-color:#000; min-height:calc(100vh - 50px); padding-bottom:60px; box-sizing:border-box;
display: -webkit-box; display: -ms-flexbox; display:-webkit-flex; display: flex;
-webkit-box-align: center; -ms-align-items:center; -webkit-align-items:center; align-items:center; 
}
.screen1  .background{ position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%; margin:auto; background-image: url(../images/screen1_bg.jpg);  background-repeat: no-repeat; background-position: center; background-size: cover; z-index:0}
.screen1  .background video{ display:none;}
.screen1 .wrapper{ position:relative; z-index:100;}
.screen1 .screen-arrow{position:absolute; width:100%; left:0; bottom:0; padding:20px 0;}
.screen1 .screen-arrow .icon{ display:block; width:40px; height:20px; margin:auto; }
.screen1 .screen-arrow .icon svg{ display:block; height:100%; margin:auto; }
.screen1 .screen-arrow .icon svg path{ fill:#fff;}

.bookingFormWrap h2{ font-size:25px; color:#fff;  font-family:OpenSansLight; padding-bottom:10px }

.bookingFormTabs{ height:50px;}
.bookingFormTabs .bookingFormTabB{ width:50%; height:100%; float:left; font-size:14px; line-height:50px; color:#A5A5A5; text-align:center; text-transform:uppercase; background:#000; border-radius:5px 5px 0 0;}
.bookingFormTabs .bookingFormTabB.active{ color:#fff; background:rgba(181, 181, 181, 0.2);}
.bookingFormTabsContent {background:rgba(181, 181, 181, 0.2);  border-radius:0 0 5px 5px; box-sizing:border-box; padding:10px}
.bookingFormTab{ display:none; }
.bookingFormTab.active{ display:block}

.bookingForm .form-section{   padding: 20px 0 30px 0;}
.bookingForm .form-section:after{ content:''; display:block; clear:both}
.bookingForm{ margin:0 auto;}
.bookingForm .formField{ width:50%; float:left; box-sizing:border-box; }
.bookingForm .formField .input{ padding:5px; box-sizing:border-box; position:relative}
.bookingForm .formField .input .icon{ display:block; position:absolute; top:0; left:12px; bottom:0; width:20px; height:18px; margin:auto; z-index:10 }
.bookingForm .formField .input .icon svg{ display:block; height:100%; width:auto; margin:auto }
.bookingForm .formField .input .icon svg path{ fill:#949292}
.bookingForm .formField .input input{ width:100%; display:block; box-sizing:border-box; height:50px; border-radius:12px; border:none; font-size:12px; color:#000; padding-left:35px; padding-right:5px;
-webkit-box-shadow:0 3px 6px 0 rgba(0,0,0,0.16); box-shadow:0 3px 6px 0 rgba(0,0,0,0.16) }
.bookingForm .formButton{ clear:both;  }
.bookingForm .formButton .submit{ clear:both; padding:0 5px; }
.bookingForm .formButton .submitButton{ clear:both; width:100%; display:block; box-sizing:border-box; height:50px; border-radius:12px; border:none; font-size:14px; color:#fff; text-align:center; cursor:pointer;  
-webkit-box-shadow:0 3px 6px 0 rgba(0,0,0,0.16); box-shadow:0 3px 6px 0 rgba(0,0,0,0.16); background:#E24D53;
-webkit-appearance: none; -moz-appearance: none; appearance: none; background-image:url(../images/preloader2.svg); background-repeat:no-repeat; background-position:center; background-size:0;
  }
.bookingForm .formButton .submitButton.preloader{ font-size:0; background-size:40px;}


.hiw-link-wrap{ text-align:center; padding:20px 0 10px 0  }
.hiw-link{ display:inline-block; font-size:14px; text-transform:uppercase; color:#E24D53; text-decoration:none; cursor:pointer;}

.hiw-btn-wrap{ padding-bottom:30px    }
.hiw-btn{ width: 90%; max-width:320px;    display: block;    box-sizing: border-box;     border-radius: 12px; line-height:50px; margin:auto; font-family:OpenSans;
    border: none;     font-size: 14px;   color: #000;     text-align: center; text-decoration:none;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    background: #fff;}


/*************************************/
.blocks{ padding-top:40px; padding-bottom:40px}
.blocks .block{ background:#fff; border-radius:5px; box-sizing:border-box; margin-bottom:20px}
.blocks .block:last-child{margin-bottom:0px}
.blocks .block-content{ padding:15px 0}
.blocks .block-content h2{ font-size:18px; font-family:OpenSansBold; line-height:2em; }
.blocks .block-content p{ font-size:15px; font-family:OpenSansLight; line-height:2em; }

.benefits .block-content h2{  color:#E24D53; }

.section.cars .wrapper{ padding:0;}
.section.cars .wrapper-bg{background:#fff; border-radius:10px;}
.section-title{ font-size:25px; font-family:OpenSansLight; padding:25px}
.blocks.cars { padding:0 10px; padding-bottom:10px;}
.blocks.cars .block{ border:1px solid #DBDBDB}
.blocks.cars .block-image{ width:110px; height:100px; border-radius:5px; background-position:center; background-repeat:no-repeat; background-size:cover; float:left;
-webkit-box-shadow:0 3px 6px 0 rgba(0,0,0,0.16); box-shadow:0 3px 6px 0 rgba(0,0,0,0.16);  }
.blocks.cars .block-title{ width:140px;  float:left; padding-top:10px; padding-left:15px }
.blocks.cars  h2{ font-size:18px; font-family:OpenSansBold;}
.blocks.cars  p{ display:block; clear:both; padding:10px 0;}
.blocks.cars  .car-prop{ font-size:15px; position:relative; padding:5px 0; padding-left:20px  }
.blocks.cars  .car-prop .icon{ display:block; width:12px; height:12px;  position:absolute; top:0; bottom:0; left:0; margin:auto }
.blocks.cars  .car-prop .icon svg{ display:block; height:100%; margin:auto }
.blocks.cars .block-button-wrap{ padding:5px; padding-top:20px;}
.blocks.cars .block-button-wrap a{ display:block; width:100%; background:#E24D53; border-radius:5px; font-size:13px; padding:13px 0; color:#FFFFFF; text-decoration:none; text-transform:uppercase; text-align:center; font-family:OpenSansSemiBold;  }


.section.reviews .wrapper{ padding-right:0}
.section.reviews .section-title{ color:#E24D53; padding:25px 20px;}
.blocks.reviews{ padding:0;}

.blocks.reviews .block{ width:270px; margin-right:15px; height:auto; display:none;}
.blocks.reviews .block:first-child{display:block;}

.blocks.reviews .block.slick-slide{ display:block;}
.blocks.reviews .block-image{ width:80px; height:90px; border-radius:5px; background-position:center; background-repeat:no-repeat; background-size:cover; float:left;}
.blocks.reviews .block-title{ width:140px;  float:left;  padding-left:10px }
.blocks.reviews  .car-prop{ font-size:12px}
.blocks.reviews  h2{ font-size:18px; font-family:OpenSansBold;}
.blocks.reviews  p{ display:block; clear:both; padding:10px 0;}

.slick-dots{ text-align:center; padding:10px 0; font-size:0; padding-top:0;}
.slick-dots li{ display:inline-block;}
.slick-dots  li button{ display:block; width:15px; height:15px; border:none; box-sizing:border-box; font-size:0;  -webkit-border-radius: 50%; border-radius: 50%; position:relative; padding:0; margin:0 5px; background:#FFFFFF; -webkit-box-shadow:0 3px 6px 0 rgba(0,0,0,0.16); box-shadow:0 3px 6px 0 rgba(0,0,0,0.16);  }
.slick-dots  li.slick-active button:after { content: ""; width: 9px;  height: 9px;  display: block; position: absolute; top: 0;     right: 0; left:0; bottom:0;  margin: auto; background:#707070; -webkit-border-radius: 50%; border-radius: 50%; } 

.section.partners{ padding:30px 0}
.section.partners .wrapper-bg{ background:#fff; border-radius:5px;}
.section.partners .blocks { padding:0;}
.section.partners .block { }
.section.partners .block{ padding-bottom:40px }
.section.partners .block img{ display:block; width:90%; max-width:300px; margin: auto;}


@media only screen and (min-width:375px){
	
	.content h1{font-size:35px;}
	
	.blocks.cars .block-image{ width:127px; height:120px;}
	.blocks.cars .block-title {    width: 160px;    padding-top: 30px;    padding-left: 30px;}
	
	.blocks.reviews .block{ width:310px; }
	.blocks.reviews .block-image{ width:100px; height:110px;}
	.blocks.reviews .block-title { width: 160px;   padding-left: 15px;}
	.blocks.reviews .car-prop {   font-size: 13px; line-height:1.7em}


}


@media only screen and (min-width:600px){
	

	.blocks.reviews .block {    width: 380px;}
}


@media only screen and (min-width:768px){
	
	
	
	.container{ padding-top:70px;} 
	
	.wrapper{ padding:0 20px; max-width:768px;}
	.content{ padding:0;}

	.header{height: 70px;}
	
	.content h1{font-size:70px; line-height:1.3em}
	.screen1 {   min-height:calc(100vh - 70px); padding-bottom:120px;}
	.screen1  .background{background-image: url(../images/screen1_bg_big.jpg); background-position: center left;}
	

	.bookingFormWrap h2 { font-size: 30px; padding-bottom:20px;}
	.bookingFormTabs .bookingFormTabB,
	.bookingForm .formButton .submitButton,
	.bookingForm .formButton .submitButton{ font-size:18px}
	.screen1 .screen-arrow{ padding:30px 0;}

	
	.blocks{ display: -webkit-box; display: -ms-flexbox; display:-webkit-flex; display: flex;
	-webkit-box-align: stretch; -ms-align-items:stretch; -webkit-align-items:stretch; align-items:stretch;
	-webkit-box-pack:justify ;    -ms-justify-content:space-between; -webkit-justify-content:space-between;  justify-content:space-between;
	}
	.blocks .block{ width:32%; width:calc( 33.33% - 10px);}
	.blocks .block-content{ padding:20px;}
	.blocks.benefits .block{ margin-bottom:0}


	.section.cars .wrapper{ padding:0 20px;}
	.section-title{ font-size:30px;padding:25px 20px;}
	.blocks.cars { padding:0 20px; padding-bottom:20px; -webkit-box-orient: vertical; -ms-flex-direction:column; -webkit-flex-direction:column; flex-direction:column;}
	.blocks.cars .block{ width:100%;}
	.blocks.cars .block-content { padding:15px}
	.blocks.cars .block-image{ width:145px; height:146px;}
	.blocks.cars .block-title { box-sizing:border-box; padding-left:15px; width:504px; padding-top:0}
	.blocks.cars  h2{ font-size:23px; }
	.blocks.cars  p{ clear:none; margin-left:160px; width:505px; }
	.blocks.cars .car-prop{ float:left; margin-right:30px; font-size:18px; padding-left:25px}
	.blocks.cars  .car-prop .icon{  width:15px; height:15px; }
	.blocks.cars .block-button-wrap{ clear:both;padding:0; padding-bottom:10px; padding-top:20px;}



	.blocks.reviews  { display:block}
	.blocks.reviews .block{ width:630px; }
	.blocks.reviews .block-image{ width:140px; height:135px;}
	.blocks.reviews .block-title {   width: 300px;   padding-left: 25px;}
	.blocks.reviews .block-title h2{ font-size:23px;}
	.blocks.reviews .car-prop {   font-size: 15px; }
	
	
	.section.partners  .blocks{-webkit-box-align: end;  -ms-align-items:flex-end; -webkit-align-items:flex-end; align-items:flex-end; }
	.section.partners .block{ width:50%; margin-bottom: 0}
	.section.partners .block img{ max-width:370px;}


	.bookingForm .form-section{ padding:30px 0 40px 0}
/**************************FOOTER*********************/
	
	footer{}
	.footer{height:74px; padding:0 18px;}
	.footer .footerButton{width:120px; height:100%;position:absolute; right:18px}
	.footer .footerButton .howItWorks{position:absolute; top:0;bottom:0;right:0;margin:auto}
	.footer .social{display:block; width:120px;position:absolute;  height:100%}
	.footer .insta{height:25px; width:25px; position:absolute; left:0; top:0; bottom:0; margin:auto}
	.footer .insta a{display:block; background-image:url(../images/insta.svg); background-repeat:no-repeat;width:100%;height:100%}
	.footer .face{height:25px; width:13px;position:absolute; left:49px; top:0; bottom:0; margin:auto}
	.footer .face a{display:block; background-image:url(../images/face.svg); background-repeat:no-repeat; position:absolute;width:100%;height:100% }
	.footer .trip{height:18px; width:30px;position:absolute; left:87px; top:0; bottom:0; margin:auto}
	.footer .trip a{display:block; background-image:url(../images/trip.svg); background-repeat:no-repeat; position:absolute;width:100%;height:100%}
	.footer .howItWorks{position:absolute; top:0; bottom:0; margin:auto; margin-left:0}
	.footer .buttonsWrap{height:100%; bottom:0; top:0; right:0px; margin-right:0}
	.footer .bookNow{top:0}
	.footer .pagiW{bottom:0;top:0; width:100px; right:370px;left:185px; margin:auto}
	.footer .pagi{position:absolute;top:0;bottom:0;right:0;left:0; margin:auto}
	
/**************************HOME***********************/	
	
	#slider ul li *{ font-size:40px;}
	#slider ul li  span.small{ padding:0; font-size:25px} 

	.homepage .buttonWrap.hIw{display:none}

}
	
@media only screen and (min-width:960px){
	

}

@media only screen and (min-width:1240px){
	
	.wrapper{  max-width:1290px;}
	
	.screen1 .wrapper{ display: -webkit-box; display: -ms-flexbox; display:-webkit-flex; display: flex;
	-webkit-box-align: center; -ms-align-items:center; -webkit-align-items:center; align-items:center;
	-webkit-box-pack:justify ;    -ms-justify-content:space-between; -webkit-justify-content:space-between;  justify-content:space-between;
	
	}
	.screen1  .background{background:#000; overflow:hidden;}
	.screen1 .background .video{ display:block; min-height:100%; min-width:100%; top:0;left:0; right:0; bottom:0;margin:auto; position:absolute; z-index:10}
	.screen1 .background:after { content:""; display:block; height:100%; width:100%; top:0;left:0; right:0; bottom:0;margin:auto; position:absolute; background:rgba(0, 0, 0, 0.6); z-index:20}
	
	.bookingFormWrap{ min-width:473px; max-width:473px;}
	
	.blocks .block{ width:32%; width:calc( 33.33% - 15px);}
	.blocks .block-content h2{ font-size:20px;  }
	.blocks .block-content p{ font-size:18px;  }
	
	.blocks.cars {-webkit-box-orient:horizontal; -ms-flex-direction:row; -webkit-flex-direction:row; flex-direction:row;}
	.blocks.cars .block{width:32%; width:calc( 33.33% - 15px); margin-bottom:0; border:none}
	/*.blocks.cars .block-content { padding:15px 0}*/
	.blocks.cars .block-image{ width:154px; height:146px;}
	.blocks.cars .block-title { width:180px; padding-top:40px; padding-left:20px}
	.blocks.cars .car-prop{ margin:0;}
	.blocks.cars  p{ clear:both; margin:0; width:auto; }
	
		.blocks.reviews .block{ margin-right:20px;}
		.slick-dots{margin-right:20px;}
		.slick-dots  li button{ display:block; width:21px; height:21px;  margin:0 10px;  }
		.slick-dots  li.slick-active button:after { width: 13px;  height: 13px; }


}

@media only screen and (min-width:1600px){
	


}

/*плавная загрузка страниц*/
@-webkit-keyframes fade-in {   0% { opacity:0.1; }   100% { opacity:1; }   }
@keyframes         fade-in {   0% { opacity:0.1; }   100% { opacity:1; }   }

.anim{
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}