.detal{}
.detal h1{ font-size:26px; padding-bottom:10px; margin-bottom:20px; border-bottom:1px solid #eee;}
.detal h3{ line-height: 1.6em;  display: block;  border-bottom: 2px solid #569BA9;  text-transform: uppercase;  color: #569BA9;  font-size: 13px;  margin: 10px 0;}

.detal .images-wrap{width:400px; float:left; }
.detal .images-wrap .img{ height:400px; padding-right:30px; border:1px solid #eee}
.detal .images-wrap .img a{ display:block;height:100%; text-align:center}
.detal .images-wrap .img a img{ max-height:100%; max-width:100%; width:auto; height:auto; margin:auto;}
.detal .images-wrap .thumbnail-wrap{padding:20px 0; overflow:hidden}
.detal .images-wrap .thumbnail{ width:88px; height:88px; margin-right:13px; margin-bottom:10px; float:left; border:1px solid #eee;}

.detal .images-wrap .thumbnail:nth-child(4n){float:right; margin-right:0;}
.detal .images-wrap .thumbnail a{ display:block;height:100%; text-align:center}

.detal .images-wrap .thumbnail a img{ max-height:100%; max-width:100%; width:auto; height:auto; margin:auto;}


.detal .desc-wrap{ width:420px; float:right}
.detal .desc-wrap .short-desc p{padding:3px 0;}
.detal .desc-wrap .short-desc{font-size:14px; color:#545454;}

.detal .price-wrap{height: 90px;}
.detal .price-item{ height:30px; margin:20px 0;}
.detal .price{  display: block;
  padding-right: 20px;
  font-size: 28px;
  color: #FF0004;
  line-height: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 15px;}
  .detal .price span{font-size:14px; color:#808080; }
.detal .cart-button{
	text-align: center;
	text-decoration: none;
	display: block;
	width: 120px;
	height:20px;
	margin: auto;
	cursor: pointer;
	padding: 5px 20px;
	border: none;
	color: #FFF;
	text-transform:uppercase;
	font-size:12px;
	float:left;
	background-color: #394449;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.21) ), to(rgba(0, 0, 0, 0.26) ));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.21) 0%, rgba(0, 0, 0, 0.26) 100%); 
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.21) 0%, rgba(0, 0, 0, 0.26) 100%);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.21) 0%, rgba(0, 0, 0, 0.26) 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0.21) 0%, rgba(0, 0, 0, 0.26) 100%);
	 border-radius: 7px;
  -moz-border-radius:7px;
  -webkit-border-radius: 7px;
}
.detal .cart-button:hover{background-color: #3F8A99;}

.detal ul{margin-left:40px;}

.prop-row{padding:7px 0; border-bottom: 1px solid #dfdfdf; min-height:25px; font-size:14px;   overflow: hidden;}
.prop-row:nth-child(1n){background:#f5f5f5;}
.prop-row:nth-child(2n){background:#fff;}
.prop-row:first-child{ border-top: 1px solid #dfdfdf;}
.prop-row .prop-title{ color:#5C5C5C;  border-right: 1px solid #dfdfdf; width:350px; margin-left:15px; float:left;}
.prop-row .prop-values{ color:#5C5C5C;   width:450px; float:left;   margin-left: 10px;}


/*********************************/
.to-cart-count-wrap{
	float: left;
  width: 90px;
  height: 30px;
  margin-right: 20px;
}
.to-cart-count-wrap .count{   display: block;
    display: block;
  width: 22px;
  height: 30px;
  background: #E4E4E4;
  border:none;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  }
 .to-cart-count-wrap .count:hover{
	 background:#A7A7A7;
	 cursor:pointer;
 }
  
  .to-cart-count-wrap .count.minus{
	  position:absolute;
	  top:0px;
	  left:0px;
	  border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  }
  .to-cart-count-wrap .count.plus{ 
  position:absolute;
	  top:0px;
	  right:0px;
	  border-radius: 0px 7px 7px 0px;
  -moz-border-radius: 0px 7px 7px 0px;
  -webkit-border-radius: 0px 7px 7px 0px;
  }
  .to-cart-count-wrap .to-cart-count{
	  display:block;
	 position:absolute;
	  top:0px;
	  left:22px;
	  width:46px;
	  height:26px;
	  text-align:center;
	    border: 1px solid #E4E4E4;
  }




